/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_TTT_ICON         ICON                    "tictactoe.ico"

/////////////////////////////////////////////////////////////////////////////

#include "wx/msw/wx.rc"